ion-header {
  height: 200px;
  background-image: url("../../../assets/icon/geeky-logo-portrait.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #38383a;
  background-position: center;
}
