<html>

  <head>
    <title>T-shirt thingssss</title>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <h1>T shirt manager</h1>

    <div style="width: 100%; display: flex; margin-bottom: 10px">
      <button id="add">+</button>
    </div>

    <table id="TShirtList">

      <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Color</th>
        <th>Actions</th>
      </thead>

      <tbody id="TShirtListBody">

      </tbody>

    </table>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script type="text/javascript" src="script.js"></script>

  </body>

</html>
